<h3>Biblioteca:</h3>
<hr />

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Visualizar Categorias", "Index", "Category", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Visualizar Livros", "Index", "Book", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Cadastrar Categorias ", "Form", "Category", null, new { @class = "btn btn-default" })</li>
    <li>@Html.ActionLink("Cadastrar Livros", "Form", "Book", null, new { @class = "btn btn-default" })</li>
</ul>
